{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agenda Fácil NAF</title>
    <link rel="icon" type="image/ico" href="{% static 'imagens/ICON003.ico' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'login_agendafacil/js/index.js' %}"></script>
</head>
<body>  
    <div class="site-header">
        <img src="{% static 'imagens/logo001.png' %}" width=320px>
        <button class="menu-button" onclick="toggleMenu()">Menu</button>
        <div class="menu" id="menu">
                <a href="{% url 'painel_cliente'%}" class="button">Pagina Inicial</a>
                <a href="{% url 'perfil_cliente'%}" class="button">Meu Perfil</a>
                <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="button">Sair</button>
            </form>
            </div>
    </div>
    <div class="container">   
        <h1><center>Agendamento</center></h1>
                <H2><center>Faça o seu agendamento.</center></H2> 
                     <form class="form1" method="post">
            {% csrf_token %}
            <label for="data">Data:</label>
            <input type="date" id="data" name="data" min="{{ hoje|date:'Y-m-d' }}" value="{{ request.POST.data }}" required>

            <label for="horario">Horário:</label>
            <select id="horario" name="horario" required>
                <option value="">Selecione um horário</option>
                {% for horario in horarios_disponiveis %}
                    <option value="{{ horario }}" {% if request.POST.horario == horario %}selected{% endif %}>{{ horario }}</option>
                {% endfor %}
            </select>
                        <button class="btn" type="submit">Agendar</button>

                    </form><br><br>
            </div>
            <br><br>         
    </div>
    <br><br> 
    <br><br>
    <div class="site-footer">
Copyright © 2026 — Desenvolvido com 💚 em Teresópolis.
    </div>
</body>
</html>