<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atendimento</title>
    <link rel="icon" type="image/ico" href="IMAGENS/ICON003.ico">
    <link rel="stylesheet" href="style.css">
    <script src="JS/Index.js" type="text/javascript"></script>
    <style>
        input,  select {
        width: 60%;
        padding: 8px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;}
    </style>
</head>
<body>  
    <div class="site-header">
        <img src="IMAGENS/logo001.png" width=320px>
        <button class="menu-button" onclick="toggleMenu()">Menu</button>
            <div class="menu" id="menu">
                <a href="Perfil do Colaborador.html" class="button">Pagina Inicial</a>
                <a href="Dados Colaborador.html" class="button">Meu Perfil</a>
                <a href="Login Colaborador.html" class="button">Sair</a>
            </div>
    </div>
        <div class="container">
                <p><strong><h3>Bem-vindo, Colaborador!</h3></strong></p>
                            <hr>        
                            <center>
                                <H2>Atendimento</H2>
                             </center>
            <form class="form1" action="Envio de Informações.html">
               <label for="nome">Nome Completo:</label>
               <input type="text" id="nome" name="nome" placeholder="Digite seu nome" required  oninput="nameValidate()">
               <label for="nome">CPF:</label>
               <input type="text" id="CPF" name="CPF" placeholder="Digite seu CPF" maxlength="11" required>
               <label for="data">Data de Nascimento:</label>
               <input type="date" id="data" name="data" required>
               <label for="email">E-mail:</label>
               <input type="email" id="email" name="email" placeholder="exemplo@unifesonaf.com" required>
               <label for="Name">Descreva o atendimento:</label>
               <textarea id="feedback" placeholder="Descreva o que foi realizado no atendimento..." required=""></textarea>
               <button class="btn" type="submit">Enviar</button>
           </form><br><br>
        </div>
        <br><br>
        <br><br>
<div class="site-footer">
    Copyright © 2024.
</div>
</body>
</html>
