{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Cadastro Cliente</title>


   <link rel="icon" type="image/ico" href="{% static 'imagens/ICON003.ico' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/Index.js' %}"></script>

    <style>
        input, select {
            width: 60%;
            padding: 8px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
        }
    </style>
</head>

<body>

<div class="site-header">
    <a href="{% url 'base' %}"><img src="{% static 'imagens/logo001.png' %}" width="320px"></a>

    <a href="{% url 'base' %}" class="menu-button" >Inicio</a>
</div>

<div class="container">

    <center>
        <h2>Bem-vindo Cliente!</h2>
        <h3>Cadastre-se abaixo</h3>
    </center>

    <form method="POST" class="form1">

        {% csrf_token %}

        <!-- Nome -->
        <label>Nome Completo:</label>
        {{ form.first_name }}

        <!-- CPF -->
        <label>CPF:</label>
        {{ form.CPF }}

        <!-- Email -->
        <label>Email:</label>
        {{ form.email }}

        <!-- Telefone -->
        <label>Telefone:</label>
        {{ form.telefone }}

        <!-- Senha -->
        <label>Senha:</label>
        {{ form.password1 }}

        <!-- Confirmar Senha -->
        <label>Confirmar Senha:</label>
        {{ form.password2 }}

        <button class="btn" type="submit">
            Cadastrar
        </button>

    </form>

</div>

<br><br>

<div class="site-footer">
Copyright © 2026 — Desenvolvido com 💚 em Teresópolis.
</div>

</body>
</html>
