{% extends 'base.html' %}
{% load static %}

{% block title %}Cadastro Cliente{% endblock %}

{% block content %}

    <center>
        <h2>Bem-vindo Cliente!</h2>
        <h3>Cadastre-se abaixo</h3>
    </center>

    <form method="POST" class="form1">

        {% csrf_token %}

        <!-- Nome -->
        <label>Nome Completo:</label>
        {{ form.first_name }}

        <!-- CPF -->
        <label>CPF:</label>
        {{ form.CPF }}

        <!-- Email -->
        <label>Email:</label>
        {{ form.email }}

        <!-- Telefone -->
        <label>Telefone:</label>
        {{ form.telefone }}

        <!-- Senha -->
        <label>Senha:</label>
        {{ form.password1 }}

        <!-- Confirmar Senha -->
        <label>Confirmar Senha:</label>
        {{ form.password2 }}

        <button class="btn" type="submit">
            Cadastrar
        </button>

    </form>

</div>

<br><br>
</body>
{% endblock %}