{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agenda Fácil NAF</title>
    <link rel="icon" type="image/ico" href="{% static 'imagens/ICON003.ico' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/index.js' %}"></script>
    <script src="{% static 'login_agendafacil/js/index.js' %}"></script>
</head>
<body>
<body>  
    <div class="site-header">
        <img src="{% static 'imagens/logo001.png' %}" width=320px>
        <button class="menu-button" onclick="toggleMenu()">Menu</button>
        <div class="menu" id="menu">
        <div class="container">                          
                <br><br><center>
                   <h2>Aviso!</h2>
                   <p>Cancelamento realizado com sucesso.</p>
                   <p>Para ser atendido, pedimos que</p>
                   <p>realize um novo agendamento.</p>
                   <br>
                   <img class="emailpng" src="{% static 'imagens/check.png' %}">
                <div class="divbtn">
                   <a href="Perfil do Cliente.html"><button class="btn bt5">Voltar</button></a></center>
                   <br>
               </div>   
<br><br>
<br><br>
<div class="site-footer">
Copyright © 2024.
</div>
</body>
</html>