{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agenda Fácil NAF</title>
    <link rel="icon" type="image/ico" href="{% static 'imagens/ICON003.ico' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'login_agendafacil/js/index.js' %}"></script>
</head>
<body>  
    <div class="site-header">
        <img src="{% static 'imagens/logo001.png' %}" width=320px>
        <button class="menu-button" onclick="toggleMenu()">Menu</button>
        <div class="menu" id="menu">
            <a href="Perfil do Administrador.html" class="button">Pagina Inicial</a>
            <a href="Gerenciar Usuarios.html" class="button">Gerenciar Usuários</a>
            <a href="Visualização Feedbak.html" class="button">Feedback Recebidos</a>
            <a href="Login Administrador.html" class="button">Sair</a>
       </div>
    </div>
            <div class="container">
                <div class="divbtn">             
            <p><strong>Bem-vindo, {{ request.user.first_name }}! </strong></p>
<div>
    <form  class="form1" method="post">
        <label for="Data">Data</label>
        <input type="date" name="Data" required>
        <label for="Horario">Hora de Início</label>
        <input type="time" name="Horario" required>
        <label for="colaborador">Colaborador do atendimento: </label>
        <input type="text" name="colaborador" required> 
        <button class="btn" type="submit">Adicionar agendamento</button>
    </form></div>
<div>
    <br>
    <table>
        <tr class="topo">
            <th>Data</th>
            <th>Horario</th>
            <th>Colaborador</th>
        </tr>
        <tr class="linha A">
            <td>04/12/2024</td><td>10:00</td><td>Maria</td>
        </tr>
        <tr class="linha B">
            <td>04/12/2024</td><td>11:00</td><td>Luiz</td>
        </tr>
        <tr class="linha A">
            <td>04/12/2024</td><td>12:00</td><td>Vitor</td>
        </tr>
        <tr class="linha B">
            <td>04/12/2024</td><td>13:00</td><td>Vitória</td>
        </tr>
    </table>
</div></center>
</div>
        
            
                
              
</div>
        <br><br>
        <br><br>
        <div class="site-footer">
            Copyright © 2024.
        </div>
</body>
</html>

