{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agenda Fácil NAF</title>
    <link rel="icon" type="image/ico" href="{% static 'imagens/ICON003.ico' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/index.js' %}"></script>
</head>
<body>
<body>  
    <div class="site-header">
        <img src="{% static 'imagens/logo001.png' %}" width=320px>
        <button class="menu-button" onclick="toggleMenu()">Menu</button>
        <div class="menu" id="menu">
            <a href="Perfil do Colaborador.html" class="button">Pagina Inicial</a>
            <a href="Atendimento.html" class="button">Atendimento</a>
            <a href="Login Colaborador.html" class="button">Sair</a>
       </div>
    </div>
            <div class="container">
                <div class="divbtn"> 
                    <div class="divbtn">             
                        <p><strong><h3>Bem-vindo, {{ request.user.first_name }}!</h3></strong></p>
                            <hr>            
            <p><center><strong><h1>Meu Perfil</h1></strong></center></p>
            <img class="cliente01" src="IMAGENS/Cliente01.jpg"> 
            <table class="Dados-Cliente">
                <tr class="A1"><td><strong>NOME:</strong> Adriano Andrade Arruda</td></tr>
                <tr class="B1"><td><strong>NASCIMENTO:</strong> 01/02/2000</td></tr>
                <tr class="A1"><td> <strong>CPF:</strong> 627.568.977-18</td></tr>
                <tr class="B1"><td><strong>RG:</strong> 34.985.599-5</td></tr>
                <tr class="B1"><td><strong>MATRICULA:</strong> 06598547152</td></tr>
                <tr class="A1"><td> <strong>PERIODO:</strong> 6º Semestre</td></tr>
                <tr class="A1"><td><strong>CELULAR:</strong> (21) 974-827-648</td></tr>
                <tr class="B1"><td><strong>SEXO:</strong> Masculino</td></tr>
                <tr class="A1"><td><strong>E-MAIL:</strong> adriano_arruda@unifeso.com.br</td></tr>
                <tr class="B1"><td> <strong>ENDEREÇO:</strong> Rua Marcos Jose, 581 - Barra </td></tr>
                <tr class="A1"><td> <strong>CIDADE:</strong> Teresópolis</td></tr>
                <tr class="B1"><td> <strong>ESTADO:</strong> Rio de Janeiro</td></tr>
            </table>
            <br><br>
        </div>
    </div>
</div>
<br><br>
<br><br>
 <div class="site-footer">
Copyright © 2024.
</div>
</body>
</html>