{% extends 'base.html' %}
{% load static %}
{% block title %}Esqueci a senha{% endblock %}
{% block content %}

    <div class="site-header">
        <img src="{% static 'imagens/logo001.png' %}" width=320px>
    </div>
    <center> 
        <div class="container">              
            <br><br>
              <p>Insira seu e-mail para resetar sua senha</p>


            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <p><input type="submit" value="Enviar e-mail"></p>
            </form>
               <div class="email">
               <img class="emailpng" src="{% static 'imagens/Email.png' %}">
               </div>
            <div class="divbtn">
                <a href="{% url 'base' %}"><button >Inicio</a>
           </div>
            <br><br>
       </div>
    </center>
    <br><br>
    <br><br>
{% endblock %}