{% extends 'base.html' %}
{% load static %}
{% block title %}Esqueci a senha{% endblock %}
{% block content %}

<body>  
    <div class="site-header">
        <img src="{% static 'imagens/logo001.png' %}" width=320px>
    </div>
    <center> 
        <div class="container">              
            <br><br>
               <h2>Redefinição de senha.</h2>
               <p>Link enviado com sucesso!</p>
               <p>Em breve você recebera um e-mail com o link.</p>
               <p>Verifique sua caixa de spam ou lixeira caso</p>
               <p>não receba o e-mail de redefinição de senha.</p>
               <br>
               <div class="email">
               <img class="emailpng" src="{% static 'imagens/Email.png' %}">
               </div>
            <div class="divbtn">
               <a href="{% url 'base' %}"><button class="btn bt5">Início</button></a>
           </div>
            <br><br>
       </div>
    </center>


{% endblock %}