{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agenda Fácil NAF</title>
    <link rel="icon" type="image/ico" href="{% static 'imagens/ICON003.ico' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/index.js' %}"></script>
</head>
<body>
<body>  
    <div class="site-header">
        <img src="{% static 'imagens/logo001.png' %}" width=320px>
    <style>
        input,  select {
        width: 60%;
        padding: 8px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;}
    </style>
</head>
<body>  
        <button class="menu-button" onclick="toggleMenu()">Menu</button>
        <div class="menu" id="menu">
            <a href="{% url 'perfil_cliente'%}" class="button">Meu Perfil</a>
            <a href="{% url 'agendamento_cliente'%}" class="button">Agendar</a>
            <a href="{% url 'logout'%}" class="button">Sair</a>
       </div>
       </div>
    <div class="container">   
       <h2>Avaliar Atendimento</h2>

{% if messages %}
    {% for message in messages %}
        <div class="alert">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

<form method="POST">
    {% csrf_token %}

    <label>Qual atendimento deseja avaliar?</label>
    {{ form.agendamento }}
    <br><br>

    <label>Nota:</label>
    {{ form.nota }}
    <br><br>

    <label>Comentário:</label>
    {{ form.comentario }}
    <br><br>

    <button type="submit">Enviar Feedback</button>
</form>
    </div>
    <br><br>
    <br><br>
<div class="site-footer">
Copyright © 2026 — Desenvolvido com 💚 em Teresópolis.
</div>
</body>
</html>
