{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agenda Fácil NAF</title>
    <link rel="icon" type="image/ico" href="{% static 'imagens/ICON003.ico' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/index.js' %}"></script>
    <script src="{% static 'login_agendafacil/js/index.js' %}"></script>
</head>
<body>  
    <div class="site-header">
        <img src="{% static 'imagens/logo001.png' %}" width=320px>
        <button class="menu-button" onclick="toggleMenu()">Menu</button>
        <div class="menu" id="menu">
            <a href="{% url 'perfil_cliente'%}" class="button">Meu Perfil</a>
            <a href="{% url 'agendamento_cliente'%}" class="button">Agendar</a>
            <a href="{% url 'feedback_cliente' %}" class="button">Avaliar</a>
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="button">Sair</button>
            </form>
       </div>
    </div>
            <div class="container">
                <div class="divbtn">             
            <p><strong><h2>Bem-vindo, {{ request.user.first_name }}! </h2></strong></p>
                <hr><center>
                <div class="container">
                <div id="passar_mouse"><h3>Meus agendamentos</h3> 
                </div>
<h3>Agendamentos Pendentes</h3>

{% if pendentes %}
<div class="cards-container">
    {% for ag in pendentes %}
    <div class="card-agendamento pendente">

        <div class="card-header">
            {{ ag.data }} - {{ ag.horario }}
        </div>

        <div class="card-status">
            🟡 Aguardando Atendimento
        </div>

    </div>
    {% endfor %}
</div>
{% else %}
<p>Nenhum agendamento pendente.</p>
{% endif %}
<h3>Atendimentos Realizados</h3>

{% if atendidos %}
<div class="cards-container">
    {% for ag in atendidos %}
    <div class="card-agendamento atendido">

        <div class="card-header">
            {{ ag.data }} - {{ ag.horario }}
        </div>

        <div class="card-status">
            🟢 Atendimento realizado
        </div>

        <div class="card-body">
            {% if ag.feedback %}
                <span class="badge-avaliado">⭐ Já avaliado</span>
            {% else %}
                <a class="btn-avaliar"
                   href="{% url 'feedback_cliente' %}?agendamento={{ ag.id }}">
                   Avaliar atendimento
                </a>
            {% endif %}
        </div>

    </div>
    {% endfor %}
</div>
{% else %}
<p>Você ainda não possui atendimentos realizados.</p>
{% endif %}


<br>
            </center>
        </div>
        <br><br>
        <br><br>
<div class="site-footer">
Copyright © 2026 — Desenvolvido com 💚 em Teresópolis.
</div>
<script src="{% static 'js/index.js' %}"></script>        
</body>
</html>
